{% extends 'base.html'%} 
    
{%load static %}
  
{% block content %}
<div class="py-5 container">
    <h2 class="mb-4 fw-bold text-center">WISHLIST</h2>


    {% if items %}
                    
        <div class="p-3 shadow mb-3 rounded-3 bg-white">
                        {% for item in items %}
                        <div class="product-card p-2 row align-items-center">
                            <div class="col-md-2 d-flex justify-content-center">
                                <img src="{{ item.product.details_image.first.image.url }}" alt="{{ item.product.product_name }}" class="img-fluid" style="height: 100px; width: 130px; object-fit: cover;">
                            </div>
                            <div class="col-md-6">
                                <h6 class="mb-1 fw-bold">{{ item.product.product_name }}</h6>
                                <p class="text-muted mb-0 text-truncate">{{ item.product.description}}</p>
                            </div>
                            <div class="col-md-2 fw-bold">
                            {% if item.product.discount_price %}
                                <div class="price-info d-flex align-items-center justify-content-center gap-3">
                                    <span class="text-muted text-decoration-line-through small">₹{{ item.product.original_price }}</span>
                                    <span class="text-danger fw-bold">₹{{ item.product.discount_price }}</span>
                                </div>
                                {% else %}
                                <span class="text-danger fw-bold">₹{{ item.product.original_price }}</span>
                            {% endif %}
                            </div>
                            <div class="col-md-1">
                                <a href="{% url 'add_to_cart' item.product.id %}" class="text-danger" title="Add to Cart">
                                    <i class="bi bi-cart-plus fs-5"></i>
                                </a>
                            </div>
                            <div class="col-md-1 ">
                                <a href="{% url 'delete_from_wishlist' item.product.id %}" class="text-danger">
                                    <i class="bi bi-trash fs-5"></i>
                                </a>
                            </div>
                        </div>
                    <hr>
                        {% endfor %}
        </div>
    {% else %}
        <div style="height: 65vh; ">
            <h5 class="text-dark">There are no products in your Wishlist.</h5>
        </div>

    {% endif %}
</div>

{% endblock %}


